RewriteEngine On
RewriteBase /

# Redirect all requests to index.php inside client/src folder
RewriteCond %{REQUEST_URI} !/server/blog/client/src/index\.php
RewriteRule ^(.*)$ /server/blog/client/src/index.php [L]
