RewriteEngine On
RewriteBase /

# Redirect to the client folder if accessing sawProject directly
RewriteRule ^sawProject/?$ /sawProject/client [L,R=301]

# Exclude requests for CSS files, JavaScript files, images, and other static assets
RewriteCond %{REQUEST_URI} \.(css|js|png|jpg|jpeg|gif)$ [NC]
RewriteRule ^ - [L]

# Redirect to the server folder if accessing sawProject/server
RewriteRule ^sawProject/server/?$ /sawProject/server [L,R=301]
