RewriteEngine On
RewriteBase /

# Exclude requests for CSS files, JavaScript files, images, and other static assets
RewriteCond %{REQUEST_URI} \.(css|js|png|jpg|jpeg|gif)$ [NC]
RewriteRule ^ - [L]

RewriteRule ^(.*)$ /sawproject/client/src/index.php [L]

RewriteCond %{REQUEST_URI} !/server/api/*
RewriteRule ^(.*)$ /sawproject/server/api/index.php [L]
