.about{
    background-color: #222E50;
    padding: 20px;
}

h1{
    text-align: center;
    color: white;
    font-size: 30px;
}

p{
    align-self: center;
    text-align: center;
    margin: 10px;
    color: white;
    width: 50%;
}