p {
  font-weight: 500;

  font-size: large;
  letter-spacing: 1px;
}

.cart-page {
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  gap: 2vw;

  padding: 4vw 10vw ;
}

.cart-list {
  width: 65%;
  height: 100%;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  background-color: white;
}

#cart-list .cart-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #000;
}

.total-price {
  width: 15vw;
  height: 7vw;
  padding: 1vw;
  background-color: white;
  color: black;
}

.total-price button {
  width: 100%;
  padding: 1vh;
  margin-top: 1vh ;
  background-color: #ffd814;
  border: #fcd200;
  border-radius: 15px;
  color: white;
  cursor: pointer;
}

.saveNQ {
  display: none;
}