/* Reset default form styles */
form {
    margin: 0;
    padding: 0;
}

/* Form input styles */
.form-input[type=text] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fd0303;
    border-radius: 4px;
}

.form-input[type=password] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fd0303;
    border-radius: 4px;
}

/* Form submit button styles */
.form-input[type=submit]{
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: rgb(43, 255, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}