*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
}

button {
  cursor: grabbing;
  border: none;
  background-color: transparent;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

.page {
  max-width: 100vw;
  min-height: 100vh;
  overflow: none;
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}

.loader {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%;
}

.loader svg {
  height: 30%;
}

.loader p {
  width: 100%;
  text-align: center;
  align-items: center;
  height: auto;
  z-index: 100;
}

.cookie-banner {
  display: none;
  /* Inizialmente nascosto */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 1000;
}

.cookie-banner form .accept-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
}

.cookie-banner form .accept-btn:hover {
  background-color: #45a049;
}

.cookie-banner form .dont-accept-btn {
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
}

.cookie-banner form .dont-accept-btn:hover {
  color: #f44336;
}