.global-navbar {
  width: 100%;
  height: 10vh;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: aquamarine;
}

.global-navbar .search-bar-elem {
  width: 400px;
  height: 70%;
  border-radius: 10px;
  display: flex;
  background-color: white;
}

.global-navbar span {
  height: 2.5rem;
  display: flex;
  flex-direction: row;
}

.global-navbar span button {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: white;
}

.global-navbar span button svg {
  width: 100%;
  height: 100%;
}

.global-navbar span input {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border: none;
}

.navbar-search-select {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-search-select select {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border: none;
}