.global-navbar {
  width: 100%;
  height: 10vh;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: aquamarine;
}

.global-navbar .search-bar-elem {
  width: 400px;
  height: 70%;
  border-radius: 10px;
  display: flex;
  background-color: white;
  justify-content: space-between;
}

.global-navbar .search-bar-elem span button {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: white;
}

.global-navbar .search-bar-elem span button svg {
  width: 100%;
  height: 100%;
}

.global-navbar .search-bar-elem form {
  width: 100%;
}

.global-navbar .search-bar-elem form input {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
}

.global-navbar .search-bar-elem form input:focus {
  outline: auto;
  outline-color: orange;
}

.navbar-search-select {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-search-select select {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border: none;
}

.global-navbar .profile-btn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  position: relative;
}

.profile-btn .popup-menu {
  display: none;
}

.profile-btn:hover .popup-menu,
.profile-btn:focus .popup-menu {
  display: flex;
  width: 300px;
  height: 200px;
  background-color: rgb(241, 241, 241);
  position: absolute;
  top: 45px;
  right: 9%;
  padding: .5rem;
  border-radius: 10px;
  border-top-right-radius: 0;
  z-index: 999;
}

/* arrow */
.popup-menu::before {
  content: "";
  position: absolute;
  top: -24px;
  /* Adjust to position arrow */
  left: calc(100% - 24px);
  /* Adjust to center arrow horizontally */
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent rgb(241, 241, 241) transparent;
}