.show-row-4 {
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: green ;
}

.product-card {
  min-width: 24%;
}

.products-filter {
  width: 20%;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background-color: yellow;
}

@media screen and (max-width: 768px) {
  .show-4-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .products-filter {
    width: 0;
    flex-direction: column;
    align-items: flex-start;
  }
}
